<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.admin.dao.AdminMusicalMapper">
	<!--뮤지컬 리스트 -->
	<select id="selectList" parameterType="map"
		resultType="adminMusicalVO">
		SELECT
		*
		FROM(SELECT
		a.*,
		rownum rnum
		FROM(SELECT
		*
		FROM spboard b JOIN spmember m
		ON b.mem_num = m.mem_num
		ORDER BY b.board_num DESC)a)
 	<![CDATA[
 		WHERE rnum >= #{start} AND rnum <= #{end}
 	]]>
	</select>

	<!-- 총 글 또는 검색된 글의 갯수 구하기 -->
	<select id="selectRowCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM musical
	</select>
	<!-- 뮤지컬 수정 -->
	<update id="updateMusical" parameterType="adminMusicalVO">
		UPDATE musical SET
		<if test="mus_postname=''"><!--아무것도 넣지않아도 비어있는 문자열로 처리하므로 null이 아닌 빈문자열로 넣어야 한다. -->
			mus_post=#{mus_post},
			mus_postname=#{mus_postname},
		</if>
		mus_name=#{mus_name},
		gen_num=#{gen_num},
		mus_age=#{mus_age},
		mus_actor=#{mus_actor},
		mus_time=#{mus_time},
		mus_video=#{mus_video},
		mus_detail=#{mus_detail},
		mus_summary=#{mus_summary},
		WHERE musical_num=#{musical_num}
	</update>

</mapper>







