<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="kr.spring.main.dao.MusMainMapper">  
<!-- 총 레코드 수 -->
 	<select id="getMusMainCount" resultType="integer">
 		SELECT
 			COUNT(*)
 		FROM musical
 	</select>	
 	<!-- 목록 -->
 	<select id="getMusMainList" parameterType="map" resultType="MusMainVO">
 		SELECT
 		   *
 		FROM (SELECT
 		        a.*,
 		        rownum rnum
 		      FROM(SELECT
 		             *
 		           FROM musical 
 		           ORDER BY mus_num DESC)a)
 	<![CDATA[           
 		WHERE rnum >= #{start} AND rnum <= #{end}           
 	]]>
 	</select>	
</mapper>







